@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
	background-color: #0facaa;
	color: black;
  padding: 10px 30px 50px 80px;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 2px #666 solid;
	text-align: center;
	width: 20%;
}

[data-checked="1"] {
	background-color: #f66;
}

[data-count="3"] {
	background-color: #f66;
	text-decoration: underline;
	animation: blink 1s infinite;
}
@keyframes blink { 0%{ color:black; } 100%{ color:white; } }