html {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 500px;
}

.nav-item {
  font-size: large;
}

@media only screen and (min-width: 500px) {
  body {
    border: 1px solid #dee2e6;
    padding: 10px;
  }
}